.OldPrice {
  text-decoration: line-through;
  color: #777;
  font-size: 0.9rem;
}

.Price {
  background-color: yellow;
  padding: 10px;
  text-align: center;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .Price {
    font-size: 0.95rem;
    padding: 8px;
  }
}
